<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
<h1>Anmeldeseite der TerminFinder Applikation</h1>
<form th:action="@{/login}" method="post" style="max-width: 400px; margin: 0 auto;">
    <div class="border border-secondary rounded p-3">
        <div th:if="${param.error}">
            <p class="text-danger">Invalid username or password.</p>
        </div>
        <div th:if="${param.logout}">
            <p class="text-warning">You have been logged out.</p>
        </div>
        <div>
            <p><input type="email" name="username" required class="form-control" placeholder="E-mail" id="email"/></p>
        </div>
        <div>
            <p><input type="password" name="password" required class="form-control" placeholder="Password"
                      id="password"/></p>
        </div>
        <div>
            <p><input type="submit" value="Login" class="btn btn-primary"/></p>
        </div>
    </div>
</form>
<div style="max-width: 400px; margin: 0 auto;">
    <p>OR</p>
</div>
<div style="max-width: 400px; margin: 0 auto;">
    <a th:href="@{/oauth2/authorization/google}">Login with Google</a>
</div>
</body>
</html>